// Override bootstrap sass variables here(above import)
$icon-font-path: "../node_modules/bootstrap-sass/assets/fonts/bootstrap/";
@import '../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap.scss';

@import '~@swimlane/ngx-datatable/release/index.css';
@import '~@swimlane/ngx-datatable/release/themes/material.css';
@import '~@swimlane/ngx-datatable/release/assets/icons.css';

@import '~@angular/material/core/theming/prebuilt/deeppurple-amber.css';

* {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-size: 40px;
}

.page-content {
  margin-top: 50px;
  margin-left: 100px;
  margin-right: 100px;
}

body {
  background-color: #233237;
}
