/**style for map and made it responsive **/
.sebm-google-map-container {

  height: 645px;
  width: 645px;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;

}

.jumbotron {
  background-color: #233237;
}

h2 {
  color: white;
  text-align: center;
}

.panel-heading h2 {
  color: black;
}

.map-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

/** this style will be used when de width is like 800px **/
@media screen and (max-width: 800px) {
  body {
    padding: 10px 15px;
  }
  .jumbotron {
    width: 100%;
  }
  #city-form {
    width: 100%;
    float: none;
    display: block;
  }
  #city-form {
    width: 100%;
    display: block;
    float: none;
  }
}
