<div class="page-content">

    <h2>Find information about a particular city</h2>
    <div class="jumbotron">

        <div class="row content">

            <!-- 2 boxes where we filter the data (City Search/Magnitude search)-->
            <div name="city-form" class="col-md-5 ng-scope">
                <!-- form for city -->
                <div class="panel panel-default">

                    <!--City search -->
                    <div class="panel-heading">
                        <!--title form-->
                        <h2 class="panel-title text-center">
                            Search Locations
                            <!--insert icon-->
                            <span class="glyphicon glyphicon-map-marker"></span>
                        </h2>
                    </div>
                    <!--panel body-->
                    <div class="panel-body">
                        <form name="cityForm" novalidate>
                            <div class="form-group">
                                <!--selects names for the cities from location.component.ts -->
                                <!-- (change)- sort of function which will keep up with every change-->
                                <!-- I send the City name to trigger function -->
                                <select (change)="trigger($event.target.value)">
                                    <option *ngFor="let city of cities" [value]="city.value">
                                        {{ city.viewValue}}
                                    </option>
                                </select>
                                <!--each city has it's coordinates goToCity() moves google map to those coordinates-->
                                <button (click)="goToCity()" id="city" md-button>Search City</button>
                            </div>
                        </form>
                    </div>

                </div>

                <!--City search -->
                <div class="panel panel-default">

                    <!-- Earthquake magnitude search -->
                    <div class="panel-heading">
                        <!--title form-->
                        <h2 class="panel-title text-center">
                            Search Earthquake by Magnitude
                            <!--insert icon-->
                            <span class="glyphicon glyphicon-map-marker"></span>
                        </h2>
                    </div>

                    <!--panel body-->
                    <div class="panel-body">
                        <form name="earthquakeForm" novalidate>
                            <div class="form-group">
                                <!--selects names for the cities from location.component.ts -->
                                <input placeholder="Magnitude" type="text">
                                <button id="earthquake" md-button>Search City</button>
                            </div>
                        </form>


                    </div>

                </div>


            </div>


            <!--google map-->
            <div class="col-md-7 map-responsive">
                <sebm-google-map id="map" [latitude]="lat" [longitude]="lng">
                    <sebm-google-map-marker [latitude]="lat" [longitude]="lng"></sebm-google-map-marker>
                </sebm-google-map>

            </div>


        </div>


    </div>

</div>
