<div class="page-content">

    <!--header card-->
    <md-card id="first" class="card">
        <md-card-content>
            <h1>Location
                <i class="material-icons">place</i>
            </h1>
        </md-card-content>
    </md-card>

    <!--all the content-->
    <div class="jumbotron">

        <div class="row content">

            <!-- 2 boxes where we filter the data (City Search/Magnitude search)-->
            <div class="col-md-5 ng-scope" id="full">
                <!-- DISTRICT SEARCH -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <!--title form-->
                        <h2 class="panel-title text-center">
                            <strong>Search By District</strong>
                            <!--insert icon-->
                            <span class="glyphicon glyphicon-map-marker"></span>
                        </h2>
                    </div>

                    <!--panel body-->
                    <div class="panel-body">
                        <form name="cityForm" novalidate>
                            <div class="form-group">
                                <!--selects names for the cities from location.component.ts -->
                                <!-- (change)- sort of function which will keep up with every change-->
                                <!-- I send the City name to trigger function -->
                                <select (change)="triggerDistrict($event.target.value)">
                                    <option
                                            *ngFor="let district of allDistricts; let i = index"
                                            [attr.data-index]="i">
                                        {{ district}}
                                    </option>
                                </select>
                                <!--each city has it's coordinates goToCity() moves google map to those coordinates-->
                                <button (click)="goToDistrict()" id="city" md-raised-button>Search By District</button>
                            </div>
                        </form>
                    </div>

                </div>

                <!-- MUNICIPALITY SEARCH -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <!--title form-->
                        <h2 class="panel-title text-center">
                            <strong>Search By Municipality</strong>
                            <!--insert icon-->
                            <span class="glyphicon glyphicon-map-marker"></span>
                        </h2>
                    </div>
                    <!--panel body-->
                    <div class="panel-body">
                        <form name="municipalityForm" novalidate>
                            <div class="form-group">
                                <!--selects names for the cities from location.component.ts -->
                                <!-- (change)- sort of function which will keep up with every change-->
                                <!-- I send the City name to trigger function -->
                                <select (change)="triggerMunicipality($event.target.value)">
                                    <option
                                            *ngFor="let municipality of allMunicipalities; let i = index"
                                            [attr.data-index]="i">
                                        {{ municipality}}
                                    </option>
                                </select>
                                <!--each city has it's coordinates goToCity() moves google map to those coordinates-->
                                <button (click)="goToMunicipality()" md-raised-button>Search By Municipality</button>
                            </div>
                        </form>
                    </div>

                </div>


                <!--MAGNITUDE SEARCH -->
                <div class="panel panel-default">
                    <!-- Earthquake magnitude search -->
                    <div class="panel-heading">
                        <!--title form-->
                        <h2 class="panel-title text-center">
                            <strong>Search by Magnitude</strong>
                            <!--insert icon-->
                            <span class="glyphicon glyphicon-map-marker"></span>
                        </h2>
                    </div>

                    <!--panel body-->
                    <div class="panel-body">
                        <form name="earthquakeForm" novalidate>
                            <div class="form-group">
                                <!--selects names for the cities from location.component.ts -->
                                <select (change)="triggerMagnitude($event.target.value)">
                                    <option
                                            *ngFor="let magnitude of allMagnitudes; let i = index"
                                            [attr.data-index]="i">
                                        {{ magnitude}}
                                    </option>
                                </select>
                                <button (click)="goToCityMagnitude()" id="earthquake" md-raised-button>Search By
                                    Magnitude
                                </button>
                            </div>
                        </form>


                    </div>

                </div>

                <!--INFORMATION CARD-->
                <md-card id="info" class="example-card">
                    <md-card-header>
                        <md-card-title>
                            <h4 style="color: black;">
                                <strong>Earthquake Information</strong>
                                <i style="color: #e62739;" class="material-icons">info</i>
                            </h4>
                        </md-card-title>
                    </md-card-header>
                    <md-card-content (click)="goToDistrict(); goToMunicipality()" required>
                        <p><strong>District</strong> <b>{{districtSelectedValue}}</b></p>
                        <p><strong>Municipality</strong> <b>{{municipalitySelectedValue}}</b></p>
                        <p><strong>Number of earhquakes</strong> <b>{{numberOfEq}}</b></p>
                        <p><strong>Last Earthquake</strong> <b>{{lastEq}}</b></p>
                        <p><strong>Highest Magnitude</strong> <b>{{highestMagnitude}}</b></p>
                        <p><strong>Lowest Magnitude</strong> <b>{{lowestMagnitude}}</b></p>

                    </md-card-content>

                </md-card>

                <!--showing top 3 earthquakes for the picked location-->
                <md-card class="top-eq" layout="row" layout-sm="column">
                    <!--content-->
                    <md-card-content (click)="goToDistrict(); goToMunicipality()" required class="md-padding">

                        <md-grid-list cols="3" [rowHeight]="basicRowHeight" layout="row" layout-sm="column">
                            <!-- first earthquake-->
                            <md-grid-tile layout="row" layout-sm="column">
                                <md-card class="top-eq1">
                                    <!--header for the card-->
                                    <md-card-header>
                                        <md-card-title>
                                            <i class="material-icons">looks_one</i>
                                        </md-card-title>
                                    </md-card-header>
                                    <!--content ( order by magnitude)-->
                                    <md-card-content>
                                        <p><strong>Year <b>{{oneYear}}</b></strong></p>
                                        <p><strong>Magnitude <b>{{oneMagnitude}}</b></strong></p>
                                    </md-card-content>
                                </md-card>
                            </md-grid-tile>

                            <!--second earthquake-->
                            <md-grid-tile>
                                <md-card class="top-eq2" layout="row" layout-sm="column">
                                    <md-card-header>
                                        <md-card-title>
                                            <i class="material-icons">looks_two</i>
                                        </md-card-title>
                                    </md-card-header>
                                    <md-card-content>
                                        <p><strong>Year <b>{{twoYear}}</b></strong></p>
                                        <p><strong>Magnitude <b>{{twoMagnitude}}</b></strong></p>
                                    </md-card-content>
                                </md-card>
                            </md-grid-tile>

                            <!--third earthquake-->
                            <md-grid-tile>
                                <md-card class="top-eq3" layout="row" layout-sm="column">
                                    <md-card-header>
                                        <md-card-title>
                                            <i class="material-icons">looks_3</i>
                                        </md-card-title>
                                    </md-card-header>
                                    <md-card-content>
                                        <p><strong>Year <b>{{threeYear}}</b></strong></p>
                                        <p><strong>Magnitude <b>{{threeMagnitude}}</b></strong></p>
                                    </md-card-content>
                                </md-card>
                            </md-grid-tile>
                        </md-grid-list>
                    </md-card-content>

                </md-card>
            </div>


            <!--google map- when you click on the pin Info Window will show-->
            <div class="col-md-7 map-responsive map"
                 id="my-map">
                <sebm-google-map
                        id="map"
                        [latitude]="lat"
                        [longitude]="lng">
                    <sebm-google-map-marker
                            [latitude]="lat"
                            [longitude]="lng">
                        <sebm-google-map-info-window
                                [disableAutoPan]="true">
                            <p><i class="material-icons">info_outline</i>
                                {{districtSelectedValue }},{{municipalitySelectedValue}} Info Box</p>
                            <h5><i class="material-icons">leak_remove</i>
                                <strong>Last Earthquake :</strong> {{ lastEq }} </h5>
                            <h5><i class="material-icons">trending_up</i>
                                <strong>Highest Magnitude :</strong> {{ highestMagnitude }} </h5>
                            <h6><i class="material-icons">supervisor_account</i>
                                <strong>List Of ONG</strong></h6>
                            <h5 style="color:red;"
                                *ngFor="let ong of allOng; let i = index"
                                [attr.data-index]="i">
                                {{i+1}}.{{ong}}
                            </h5>

                        </sebm-google-map-info-window>

                    </sebm-google-map-marker>
                </sebm-google-map>
            </div>
        </div>
    </div>
</div>
