<div class="container">
  <md-card class="my-header">
    <md-card-content>
      <h2>Supplies</h2>
      <img src="http://orig01.deviantart.net/f241/f/2011/038/0/1/helping_hand_by_azatsuke-d390sfq.gif">
    </md-card-content>
  </md-card>
  <ul class="timeline">
    <li>
      <div class="timeline-badge"><i class="glyphicon glyphicon-gift"></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">Search for supplies in your location</h4>
        </div>
        <div class="timeline-body">
          <md-input-container>
            <input mdInput placeholder="Insert location" value="Bangladesh">
          </md-input-container>
          <md-input-container>
            <input mdInput placeholder="Insert supplie name" value="Food">
          </md-input-container>
        </div>
      </div>
    </li>
    <li class="timeline-inverted">
      <div class="timeline-badge warning"><i class="glyphicon glyphicon-credit-card"></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title"> Supplies for the ones in need.</h4>
        </div>
        <div class="timeline-body">
          <p>Supplies inserted data</p>
          <p>Information regarding supplies in a certain district.</p>
        </div>
      </div>
    </li>


    <li>
      <div class="timeline-badge danger"><i class="glyphicon glyphicon-check"></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">Questioneer</h4>
        </div>
        <div class="timeline-body">
          <h5 class="timeline-title">Are you satisfied with the amount of supplies provided in your district?</h5>
          <md-checkbox labelPosition = "after" color ="primary">Yes</md-checkbox>
          <md-checkbox labelPosition = "after" color ="primary">No</md-checkbox>
          <h5 class="timeline-title">What supply is the most needed?</h5>
          <md-checkbox labelPosition = "after" color ="primary">Food</md-checkbox>
          <md-checkbox labelPosition = "after" color ="primary">Shelter</md-checkbox>
        </div>
      </div>
    </li>


    <li class="timeline-inverted">
      <div class="timeline-badge info"><i class="glyphicon glyphicon-bell"></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">Donate Supplies</h4>
        </div>
        <div class="timeline-body">
          <form>
            <md-select placeholder="Location" [(ngModel)]="selectedValue" name="locations">
              <md-option *ngFor="let location of locations" [value]="location.value">
                {{location.viewValue}}
              </md-option></md-select>
            <p> Selected value: {{selectedValue}} </p>
          </form>
          <form>
            <md-select placeholder="Supplies" [(ngModel)]="selectedValue" name="supplies">
              <md-option *ngFor="let supply of supplies" [value]="supply.value">
                {{supply.viewValue}}
              </md-option></md-select>
            <p> Selected value: {{selectedValue}} </p>
          </form>
          <form>
            <md-select placeholder="Supply type" [(ngModel)]="selectedValue" name="suppliesType">
              <md-option *ngFor="let supply of suppliesType" [value]="supply.value">
                {{supply.viewValue}}
              </md-option></md-select>
            <p> Selected value: {{selectedValue}} </p>
          </form>

          <hr>
          <div class="btn-group">
            <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown">
              <i class="glyphicon glyphicon-cog"></i> <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">Donate Supply</a></li>
              <li><a href="#">Ask For Supply</a></li>
              <li><a href="#">Search for Ong</a></li>
            </ul>
          </div>
        </div>
      </div>
    </li>
    <li>
  </ul>
</div>
