.card {
  background-color: #18121E;
  text-align: center;
  border: 1px solid white;
}

.card h2 {

  color: white;
  font-size: 20px;

}

.jumbotron {
  background-color: #233237;
}

.card-filter-2 {
  margin-top: 1%;
}

.card-input {
  text-align: center;
}

.earthquake-year b {
  color: red;
}

.card-input {
  margin-top: 50px;
}

/**
 * Phone responsive
 */
@media screen and(max-width: 768px) {

  .card {
    width: 100%;
  }
  .card h2 {
    font-size: 20px;
  }
  .card-input h3 {
    font-size: 15px;
  }

  .card-input input {
    width: 70%;
  }

  .card-input button {
    font-size: 10px;
    background-color: #273758;
    margin-top: 5px;
    color: white;
  }

  .earthquake-year {
    margin-top: 10px;
  }
  .earthquake-year p {
    font-size: 10px;
  }
  .card-filter md-card-title {
    font-size: 10px;
  }

  .table-eq {
    margin-top: 10px;
    font-size: 5px;
  }

}