<div class="page-content">

    <h2>Table View</h2>
    <!--card where we insert the ID for Eq-->
    <div id="first-card">
        <md-card>
            <md-card-header>
                <md-card-title>Filter Earthquakes By Id</md-card-title>
            </md-card-header>

            <md-card-content>
                <md-input-container>
                    <input
                            class="eq-id-filter-input"
                            mdInput
                            type='text'
                            placeholder='Type to filter '
                            (keyup)='updateFilter($event)'
                    />
                </md-input-container>
            </md-card-content>

            <md-card-actions>
                <button md-button (click)="addEarthquake()">Add earthquake</button>
            </md-card-actions>
        </md-card>
    </div>

    <div>
        <!-- NGX Datatable used for table view of the earthquakes-->
        <ngx-datatable
                id="eq-table"
                #table
                class='material'
                [columns]='columns'
                [columnMode]="'force'"
                [footerHeight]="50"
                [rowHeight]="'auto'"
                (rowContextmenu)="onContextMenu($event)"
                [limit]="10"
                [rows]='rows'
                [loadingIndicator]="loadingIndicator"
                [headerHeight]="50"
        >
        </ngx-datatable>


        <!-- Templates for the last cell in the table-->
        <template #hdrTpl>

        </template>
        <template #editTmpl let-row="row" let-value="value" let-i="index">
            <button md-icon-button [mdMenuTriggerFor]="rowMenu">
                <md-icon>more_vert</md-icon>
            </button>

            <md-menu #rowMenu="mdMenu">
                <button md-menu-item (click)="edit(row)">
                    <md-icon>edit</md-icon>
                    Edit
                </button>

                <button md-menu-item (click)="delete(row)">
                    <md-icon>delete</md-icon>
                    Delete
                </button>
            </md-menu>
        </template>

    </div>
</div>
