<md-card class="card-eq">
    <md-card-content>
        <h1>Nepal Earthquakes</h1>
        <h3 class="one"><span>Information Center</span></h3>

        <!--svg image with the map-->
        <svg class="shake-little">
            <g nepalmap-svg></g>
        </svg>


      <div class="content ">
            <div id="info-1" layout="row" layout-algn="center center">
                <div>
                    <h1>
                        <div style="color: #e62739">11th</div>
                        in the world
                    </h1>
                    <h2> For vulnerability to earthquakes</h2>
                </div>
            </div>

            <md-card class="card1">
                <md-card-content>
                    <h1>Last Earthquake: Near {{district}}, {{magnitude}} Magnitude</h1>
                    <h2>Hour : {{hour}} Day : {{ day}}/{{month}}</h2>
                    <i class="large material-icons">report_problem</i>
                </md-card-content>
            </md-card>


            <div id="info-2" layout="row" layout-align="center center">
                <div>
                    <h1>Population</h1>
                    <h2 style="color: #fae596">31.5 Million</h2>
                </div>
            </div>


        </div>


    </md-card-content>


</md-card>
