<md-card>
    <md-card-content>
        <h1>Nepal Earthquakes</h1>
        <h3 class="one"><span>Information Center</span></h3>

        <!--svg image with the map-->
        <svg class="shake-little">
            <g nepalmap-svg></g>
        </svg>


        <div id="info" layout="row" layout-align="center center">
            <div>
                <h1>Population</h1>
                <!-- TODO: (Cati) move this style in the .scss file-->
                <h2 style="color: #fae596">31.5 Million</h2>
            </div>
            <div>
                <h1>
                    <!--TODO: (Cati) move this style in the .scss file-->
                    <div style="color: #e62739">11th</div>
                    in the world
                </h1>
                <h2> For vulnerability to earthquakes</h2>
            </div>

        </div>


    </md-card-content>


</md-card>
