<div class="page-content">
    <div class="jumbotron">

        <h1>Nepal Earthquakes</h1>
        <h4>Information Center</h4>
        <!-- svg map and this class make the animation-->
        <div class="shake-little">
            <svg width="400" height="400">
                <g nepalmap-svg></g>
            </svg>
        </div>
        <!--line for delimitation-->
        <hr class="style" size="10">

        <h2>Population 31.5 million</h2>
        <h2>11th in the world for vulnerability to earthquakes</h2>


    </div>


</div>

