<div class="page-content-pop">
  <!--Cover picture-->
  <div class="image-pop">
    <img
      src="people2.png"
      alt="Smiley face" height=100% width=100%>
  </div>

  <!--main page-->
  <div class='container' id="container-population">

    text information
    <div class="page-header">
      <h1 class="text-pop">Nepal Population</h1>
      <br>
    </div>

    <br><br><br><br>

    <!--Serach by District-->
    <div class="column-search">
      <div class="panel panel-default">

        <div class="panel-heading">
          <h2 class="panel-title text-center">
            Search by District
            <span class="glyphicon glyphicon-map-marker"></span>
          </h2>
        </div>

        <div class="panel-body">
          <form name="earthquakeForm" novalidate>
            <div class="form-group input-search">

              <select (change)="triggerDistrict($event.target.value)">
                <option selected disabled>District</option>
                <option
                  *ngFor="let district of allDistrictNames; let i = index"
                  [attr.data-index]="i">
                  {{ district }}
                </option>
              </select>

              <button (click)="goToCharts()" md-button>Search</button>

            </div>
          </form>
        </div>
      </div>
    </div>

    <br><br><br><br><br><br><br><br><br><br>

    <!--All the charts-->
    <md-card class="charts ">

      <!--Area chart-->
      <div class="col-md-6">
        <md-card>
          <canvas baseChart
                  [data]="polarAreaChartData"
                  [labels]="polarAreaChartLabels"
                  [legend]="polarAreaLegend"
                  [chartType]="polarAreaChartType"
                  (chartHover)="chartHovered($event)"
                  (chartClick)="chartClicked($event)"></canvas>

          <!--chart name-->
          <div class="panel-heading">
            <h1 class="panel-title text-center">
              Age distribution
            </h1>
          </div>
        </md-card>
      </div>


      <!--Doughnut chart-->
      <div class="col-md-6">
        <md-card>
          <canvas baseChart
                  [data]="doughnutChartData"
                  [labels]="doughnutChartLabels"
                  [chartType]="doughnutChartType"
                  (chartHover)="chartHovered($event)"
                  (chartClick)="chartClicked($event)"></canvas>

          <!--chart name-->
          <div class="panel-heading">
            <h1 class="panel-title text-center">
              Gender
            </h1>
          </div>
        </md-card>
      </div>

    </md-card>
  </div>
</div>


<br><br>
