<!-- NEDa navbar -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <!--btn for small screen -->
            <button type="button"
                    class="navbar-toggle"
                    data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <!--lines in the button that appears when screen is small -->
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <!--logo-->
            <a href="home">
                <svg class="shake-slow hide-if-small-menu" id="logo" width="150" height="50">
                    <g logo-svg></g>
                </svg>
            </a>
        </div>

        <div class="collapse navbar-collapse in"
             [ngClass]="{ 'in': isIn }">
            <ul class="nav navbar-nav navbar-right">

                <!--HOME btn-->
                <li class="active">
                    <!--home btn which will show on normal screen-->
                    <button class="hidden-xs" md-button routerLink="home">
                        <md-icon>home</md-icon>
                        Home
                    </button>
                    <!--home btn which whill show on small screen(on click toggle menu will go up)-->
                    <button class="visible-xs" data-toggle="collapse" data-target=".navbar-collapse" md-button
                            routerLink="home">
                        <md-icon>home</md-icon>
                        Home
                    </button>
                </li>

                <!--EARTHQUAKE btn-->
                <li>
                    <!--eq btn which will show on normal screen-->
                    <button class="hidden-xs" md-button routerLink="earthquakes">
                        <i class="material-icons">graphic_eq</i>
                        Earthquakes
                    </button>

                    <!--eq btn which whill show on small screen(on click toggle menu will go up)-->
                    <button class="visible-xs" data-toggle="collapse" data-target=".navbar-collapse" md-button
                            routerLink="earthquakes">
                        <i class="material-icons">graphic_eq</i>
                        Earthquakes
                    </button>
                </li>

                <!--ong btn-->
                <li>
                  <button class="hidden-xs" md-button routerLink="ong">
                        <i class="material-icons">account_balance</i>
                        NGOs
                    </button>


                  <button class="visible-xs" data-toggle="collapse" data-target=".navbar-collapse" md-button
                          routerLink="ong">
                        <i class="material-icons">account_balance</i>
                        NGOs
                    </button>
                </li>

                <!--location btn-->
                <li>
                    <button class="hidden-xs" md-button routerLink="location">
                        <i class="material-icons">location_on</i>
                        Location
                    </button>

                    <button class="visible-xs" data-toggle="collapse" data-target=".navbar-collapse" md-button
                            routerLink="location">
                        <i class="material-icons">location_on</i>
                        Location
                    </button>
                </li>

                <!--population btn-->
                <li>
                  <button class="hidden-xs" md-button routerLink="population">
                        <i class="material-icons">people</i>
                        Population
                    </button>

                  <button class="visible-xs" data-toggle="collapse" data-target=".navbar-collapse" md-button
                          routerLink="population">
                        <i class="material-icons">people</i>
                        Population
                    </button>
                </li>

                <!--Supplies btn-->
                <li>
                    <button class="hidden-xs" md-button>
                        <i class="material-icons">add_shopping_cart</i>
                        Supplies
                    </button>

                    <button class="visible-xs" data-toggle="collapse" data-target=".navbar-collapse" md-button>
                        <i class="material-icons">add_shopping_cart</i>
                        Supplies
                    </button>
                </li>


            </ul>
        </div>
    </div>
</nav>
