#nav-cont {
  height: 90px;
}

nav {
  border-bottom: none;
  background-color: #18121E;

}

.navbar-brand {
  margin-top: -14px;
}

ul {
  margin-bottom: 10px;
}

button {
  margin-top: 15px;
  color: white;
}

.collapse .navbar-collapse .in {
  border-bottom: none;
  background-color: #273758;
}

logo-svg {
  margin-right: 100px;
}

