nav {
  height: 80px;
  background-color: #273758;
  border-bottom: none;
}

.navbar-header {
  border: none;
}

button {
  margin-top: 15px;
  color: white;
}

.collapse .navbar-collapse .in {
  border-bottom: none;
}
